/* Dark Mode */
.dark-mode {
    background-color: #141d26;
    color: #E1D9D1;
}

/* Dark Mode Button */
button {
    position:absolute;
    top:6px;
    right:6px;
}

/* Hyperlink Color */
a {
    color: #795CB2;
}

h3 {
    font-family: Comic Sans MS, serif;
}