h3 {
    font-family: Comic Sans MS, serif;
}

body {
    background-color: #333;
    color: #E1D9D1;
}

.topNavigationBar {
    background-color: #57544e;
    overflow: hidden;
    outline: 5px;
}

/* Style the links inside the navigation bar */
.topNavigationBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica;
}

div p {
    font-size: 16px;
}

#genre-list {
    display: grid;
    background-color: #57544e;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    grid-auto-rows: 16px;
    padding-left: 5%;
    padding-right: 20%;
    padding-bottom: 4%;
    height: auto;
}

#character-list {
    display: grid;
    background-color: #57544e;
    grid-template-columns: repeat(6, 1fr);
    gap: 0px;
    grid-auto-rows: 16px;
    padding-left: 5%;
    padding-right:60%;
    padding-bottom: 4%;
    height: auto;
}

.item-list a:link {
    color: #45adf7;
}

.item-list a:visited {
    color: #45adf7;
}

#back-to-movies:visited {
    color: #45adf7;
}

#back-to-movies:link {
    color: #45adf7;
}