h1 {
    font-family: Comic Sans MS, serif;
}

/* Movie table */
table {
    border: 1px solid;
    width: 100%;
}

th, td {
    border: 1px solid;
}

/* Changes row color when you hover over it */
tr:hover {
    background-color: #5e0f05;
}

body {
    background-color: #333;
    color: #E1D9D1;
}

.topNavigationBar {
    background-color: #57544e;
    overflow: hidden;
    outline: 5px;
}

/* Style the links inside the navigation bar */
.topNavigationBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica;
}

.searchBar {

}

.redirect-link a:link {
    color: #45adf7;
}

.redirect-link a:visited {
    color: #45adf7;
}