body {
    background-color: #333;
    color: #E1D9D1;
}

.topNavigationBar {
    background-color: #57544e;
    overflow: hidden;
    outline: 5px;
}

/* Style the links inside the navigation bar */
.topNavigationBar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 24px 26px;
    text-decoration: none;
    font-size: 17px;
    font-family: Arial, Helvetica;
}

.searchBar {
    margin: auto;
    width: 50%;
    padding: 10px;
}

#autocomplete {
    margin: auto;
    width: 50%;
    padding: 10px;
}


.autocomplete-searchbox {
    height: 50px;
    width: 600px;
}

.autocomplete-suggestions { border: 1px solid #222; background: #FFF; overflow: auto; color: #000000}
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }