h1 {
    font-family: Comic Sans MS, serif;
}

/* Dark mode Button */
button {
    position:absolute;
    top:6px;
    right:6px;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: #E1D9D1;
}

/* HyperLink Color */
a {
    color: #795CB2;
}

/* Movie table */
table {
    border: 1px solid;
    width: 100%;
}

th, td {
    border: 1px solid;
}

/* Zebra-Striped Rows */
tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Changes row color when you hover over it */
tr:hover {
    background-color: coral;
}